.grid-container {
  width: 93%;
  height: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-matrix {
  position: absolute;
  width: 80ch;
  height: 24lh;
  font-size: 1cqw; /* update later */
  /* line-height: 3cqh; */
  
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.line-break {
  width: 100%;
  border-bottom: 1px dashed #fff;
}
